/*El estilo css fue diseñado de la siguiente manera, ya que es mas atractivo visualmente y aporta sencillez a la hora del manejo de la pagina*/
body{
background:#F2F3F4;
font-family: Arial, Helvetica, sans-serif;
margin: 0;
}
header a img{
position: relative;
width: 100%;
height: 100%;
}
header section{
display:absolute;
margin:auto;
margin-top: -4px;
width: 500px;
}
ul, ol{
list-style:none;
}
h1 {
color: #D35400;
font-family: arial;
font-size: 160%;
margin:5px auto;
}
h2 {
color: #D35400;
font-family: arial;
font-size: 110%;
margin:5px auto;
}
h3 {
color: #D35400;
font-family: arial;
font-size: 150%;
margin:5px auto;
text-align: center;
}
h4 {
color: #34495E;
font-family: arial;
font-size: 150%;
margin:5px auto;
}

.none{
text-align: left;
background-color: transparent;
border-bottom: 0px;
}
.inline-block{
margin-left: 70%;
margin-right: 70%;
text-align:center;
width: 90%;
height: 90%;
}
.navbar {
overflow: hidden;
background-color: #1C2833;
}
.navbar a {
float: left;
font-size: 16px;
color: white;
text-align: center;
padding: 14px 16px;
text-decoration: none;
}
.subnav {
float: left;
overflow: hidden;
}
.subnav .subnavbtn {
font-size: 16px;
border: none;
outline: none;
color: white;
padding: 14px 16px;
background-color: inherit;
font-family: inherit;
margin: 0;
}
.navbar a:hover, .subnav:hover .subnavbtn {
background-color: #3498DB;
}
.subnav-content {
display: none;
position: absolute;
left: 0;
background-color: #3498DB;
width: 100%;
z-index: 1;
}
.subnav-content a {
float: left;
color: white;
text-decoration: none;
}
.subnav-content a:hover {
background-color: #2E86C1;
color: black;
}
.subnav:hover .subnav-content {
display: block;
}
.footer {
display:inline-block;
left: 0;
width: 100%;
color: white;
text-align: center;
background-color: #212F3C;
}
.socialright {
width: auto;
margin-right: 5px;
margin-left: auto;
margin-bottom: -5px;
margin-top: -5px;
}
.jpgportada {
width: 50%;
margin-right: 10px;
margin-left: 10px;
margin-bottom: 1px;
float: left;
margin-top: 10px;
}
.sectionpp{
display:inline-block;
width:92%;
height: auto;
float: left;
margin:2%;
margin-top: 4%;
}
.sectionact{
display:inline-block;
width:86%;
height: auto;
float: left;
}
.icon{
display: inline-block;
width:14%;
height:auto;
float: left;
}
.info{
display: inline-block;
width:13%;
height:auto;
float: left;
margin:0.5%;
}
.iconright{
display:inline-block;
width: 105%;
float: right;
}
.iconright:hover {
filter: saturate(400%);
}
.infojpg{
display:inline-block;
width: 105%;
float: right;
}
.sectionmas{
display:inline-block;
width:90%;
height:auto;
float: left;
margin-left: 4%;
margin-top: 2%;
}
.section1{
display:inline-block;
width:270px;
height:270px;
background:white;
float: left;
margin:10px;
}
.section2{
width: auto;
margin-right: 3%;
margin-left: 3%;
margin-bottom: 1%;
float: left;
margin-top: 1%;
padding: 2%;
background-color: #D6DBDF;
}
.jpgweb {
float: right;
width: 15%;
margin-right: 10px;
margin-left: 10px;
margin-bottom: 1px;
margin-top: 10px;
}
.p1 {
margin-left: 10px;
margin-right: 10px;
margin-bottom: 10px;
font-size: 15px;
}
.p00 {
color: #212F3C;
font-family: arial;
text-align: justify;
margin:10px auto;
}
.tr2 {
padding: 20px;
border-right: 0px;
border-left: 0px;
}
.logos {
text-align:center;
width: auto;
height: 120px;
}
.sectionpp1{
display:inline-block;
width:89%;
height:89%;
float: center;
margin-left:5%;
margin-top: 45px;
}
.section3{
display:inline-block;
width:100%;
height:20%;
background: #3498DB;
float: center;
margin:10px;
}
.sectionymas{
display:inline-block;
width:100%;
height:20%;
background:  #D6DBDF;
float: center;
margin:10px;
}
.jpgconoce {
width: 10%;
margin-right: 10px;
margin-left: 10px;
margin-bottom: 10px;
float: left;
margin-top: 10px;
}
.sectionimagenes{
  display:inline-block;
  width:90%;
  height:90%;
  float: center;
  margin:40px;
  margin-top: 5px;
}
.section4{
  display:inline-block;
  width:14%;
  background: #2E86C1;
  float: center;
  margin:1%;
}
.jpggaleria {
width: 85%;
margin-right: 10px;
margin-left: 15px;
margin-bottom: 10px;
margin-top: 15px;
}
.jpgmix {
width: 50%;
margin-right: 10px;
margin-left: 10px;
margin-bottom: 10px;
float: left;
margin-top: 10px;
}
.table1 {
font-family: Arial, Helvetica, sans-serif;
font-size: 15px;
margin: 45px;
width: 70%;
text-align: left;
border-collapse: collapse;
}
.th1 {
font-size: 14px;
font-weight: bold;
padding: 8px;
background: #3498DB;
border-top: 1px solid #5DADE2;
border-bottom: 1px solid #5DADE2;
color: #154360;
text-align: center;
}
.td1 {
padding: 8px;
background: #85C1E9;
border-bottom: 1px solid #5DADE2;
color: #154360;
border-top: 1px solid transparent;
}
input[type="text"], [type="date"], [type="submit"], [type="password"],[type="comment"]{
outline: none;
padding: 10px;
display: block;
width: 250px;
border-radius: 3px;
border: 1px solid  #eee;
margin: 10px auto;
color: grey;
font-family: Arial;
}
select{
outline:inherit;
padding: 10px;
display: block;
width: 270px;
border-radius: 3px;
border: 1px solid  #eee;
margin: 10px auto;
color: grey;
font-family: Arial;
}
body p{
font-weight:bold;
}
input[type="submit"]{
padding: 10px;
color: #fff;
background: #0098cb;
width: 250px;
margin: 20px auto;
margin-top: 0;
border: 0;
border-radius: 3px;
cursor: pointer;
}
.text1{
outline: none;
padding: 10px;
display: block;
width: 900px;
border-radius: 3px;
margin: 30px auto;
font-family: Arial;
}
.sectionform{
width:350px;
height:50%;
float: left;
background: #D5D8DC;
margin:30px;
margin-top: 10px;
padding: 20px;
}
.pform {
font-family: Arial, Helvetica, sans-serif;
font-size: 15px;
text-align: left;
border-collapse: collapse;
}
.enlace {
color: white;
text-decoration: none;
}
.centrada{
margin-left: 20%;
}
.sectionemp{
display:block;
width:80%;
height:auto;
background: #D6DBDF;
float: left;
margin-left:-3%;
padding: 3%;
}
.sectionpart{
display:block;
width:70%;
height:auto;
background: #EBEDEF;
float: left;
margin-top: 2%;
margin-left: 13%;
padding: 1%;
}
.jpgemp {
width: 20%;
margin-right: 10px;
margin-left: 10px;
margin-bottom: 10px;
margin-top: 10px;
float: left;
}
.jpgtaller {
width: 95%;
margin-right: 10px;
margin-left: 10px;
margin-bottom: 10px;
float: center;
margin-top: 10px;
}
.sectionsc{
display:inline-block;
width:85%;
height:85%;
float: center;
margin:20px;
margin-top: 50px;
}
.centrada1{
display:inline-block;
width:90%;
height:90%;
float: center;
margin-left: 16%;
margin-top: 50px;
}
.table2 {
font-family: Arial, Helvetica, sans-serif;
font-size: 15px;
margin: 20px;
width: 80%;
text-align: left;
border-collapse: collapse;
}
.th2 {
font-size: 14px;
font-weight: bold;
padding: 8px;
background: #E6E6E6;
border-top: 1px solid #5DADE2;
border-bottom: 1px solid #5DADE2;
text-align: center;
}
.td2 {
padding: 8px;
background: #E6E6E6;
border-bottom: 1px solid #5DADE2;
color: #154360;
border-top: 1px solid transparent;
}
.td3 {
padding: 8px;
background: #E6E6E6;
border-bottom: 1px solid #5DADE2;
border-top: 1px solid transparent;
}
.centrada2{
display:inline-block;
width:90%;
height:90%;
float: center;
margin-left: 12%;
margin-top: 1px;
}
.jpgcomercio {
width: 80%;
margin-right: 10px;
margin-left: 10px;
margin-bottom: 10px;
float: center;
margin-top: 10px;
}
.centradacyo{
display:inline-block;
width:80%;
height:80%;
float: center;
margin-left: 16%;
margin-top: 1px;
}
.centrada3{
display:inline-block;
width:80%;
height:80%;
float: center;
margin-left: 10%;
margin-top: 1px;
}
.th3 {
font-size: 14px;
padding: 8px;
background: #D7DBDD;
text-align: center;
}
.cerrar {
display:inline-block;
padding-top: 10px;
padding-bottom: 10px;
width: 100%;
text-align: center;
background-color: #D6DBDF;
}
.jpgfpsede {
width: 10%;
margin-right: 10px;
margin-left: 10px;
margin-bottom: 10px;
float: center;
margin-top: 10px;
}
.jpgfpsede:hover {
filter: saturate(300%);
border-radius: 30px;
}
.fpsede {
display:inline-block;
padding-top: 10px;
padding-bottom: 10px;
width: 100%;
text-align: center;
}
.sectionform1{
width:850px;
height:50%;
background: #D5D8DC;
margin-left: 20%;
margin-top: 1%;
padding: 1%;
}
.tableemp {
width: auto;
text-align: left;
}
.jpgemp1 {
width: 80%;
margin-right: 10px;
margin-left: 10px;
margin-bottom: 10px;
margin-top: 10px;
}
.sectionemp1{
display:block;
width:80%;
height:20%;
background: #D6DBDF;
float: left;
margin:20px;
padding: 10px;
}
.thimgemp{
padding-right: 1%;
}
.th5 {
width: 30%;
font-size: 18px;
padding: 8px;
}
.th6 {
width: 70%;
font-size: 16px;
padding: 8px;
}
.noticia{
display:inline-block;
width:70%;
height: auto;
margin-left:15%;
margin-top: 4%;
margin-bottom: 4%;
}
.jpgbici1 {
width: 70%;
margin-right:2%;
margin-left: 2%;
margin-bottom: 20px;
margin-top: 20px;
}
.noticias{
text-align: justify;
line-height: 200%;
}
.noestilo{
text-decoration: none;
}
.jpgcont {
width: 70%;
}
.sectionemp2{
display:block;
width:80%;
height:20%;
background: #D6DBDF;
float: left;
margin:20px;
}
.centradacont{
width: 60%;
margin-left: 25%;
}
.formcont{
  width: 50%;
margin-left: 16%;
background: #F8F9F9;
padding: 1%;
}
.th7 {
width: 30%;
font-size: 18px;
padding: 8px;
}
.th8 {
width: 70%;
font-size: 16px;
padding: 8px;
}
